In [2]:
import pandas as pd
data = pd.read_csv('ANN\original_kaggle_healthinsurance.csv')

data.head()

,age,sex,weight,bmi,hereditary_diseases,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,claim
0,60.0,male,64,24.3,NoDisease,1,0,NewYork,72,0,0,Actor,13112.6
1,49.0,female,75,22.6,NoDisease,1,0,Boston,78,1,1,Engineer,9567.0
2,32.0,female,64,17.8,Epilepsy,2,1,Phildelphia,88,1,1,Academician,32734.2
3,61.0,female,53,36.4,NoDisease,1,1,Pittsburg,72,1,0,Chef,48517.6
4,19.0,female,50,20.6,NoDisease,0,0,Buffalo,82,1,0,HomeMakers,1731.7

In [13]:
data = pd.read_csv('ANN\original_kaggle_healthinsurance.csv')
#drop hereditary_disease column
data_wo_disease = data.drop('hereditary_diseases', axis=1) 
#check if data contains missing values or nan
print(data_wo_disease.isnull().sum())

#drop rows with missing values
data_wo_disease = data_wo_disease.dropna()

print(data_wo_disease.isnull().sum())



# Now apply get_dummies
data_wo_disease = pd.get_dummies(data_wo_disease)

data_wo_disease.replace(False, 0, inplace=True)
data_wo_disease.replace(True, 1, inplace=True)

#put claim column to the end
def move_column_to_end(data, col):
    data[col] = data.pop(col)

# Usage
move_column_to_end(data_wo_disease, 'claim')

#transform pandas back into csv
data_wo_disease.to_csv('without_disease.csv', index=False)

data_wo_disease.head()

age                 396
sex                   0
weight                0
bmi                 956
no_of_dependents      0
smoker                0
city                  0
bloodpressure         0
diabetes              0
regular_ex            0
job_title             0
claim                 0
dtype: int64
age                 0
sex                 0
weight              0
bmi                 0
no_of_dependents    0
smoker              0
city                0
bloodpressure       0
diabetes            0
regular_ex          0
job_title           0
claim               0
dtype: int64

C:\Users\kobra\AppData\Local\Temp\ipykernel_6464\2688659336.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_wo_disease.replace(True, 1, inplace=True)
C:\Users\kobra\AppData\Local\Temp\ipykernel_6464\2688659336.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data[col] = data.pop(col)

,age,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,sex_female,sex_male,...,job_title_Labourer,job_title_Lawyer,job_title_Manager,job_title_Photographer,job_title_Police,job_title_Politician,job_title_Singer,job_title_Student,job_title_Technician,claim
0,60.0,64,24.3,1,0,72,0,0,0,1,...,0,0,0,0,0,0,0,0,0,13112.6
1,49.0,75,22.6,1,0,78,1,1,1,0,...,0,0,0,0,0,0,0,0,0,9567.0
2,32.0,64,17.8,2,1,88,1,1,1,0,...,0,0,0,0,0,0,0,0,0,32734.2
3,61.0,53,36.4,1,1,72,1,0,1,0,...,0,0,0,0,0,0,0,0,0,48517.6
4,19.0,50,20.6,0,0,82,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1731.7

In [15]:
#drop city column
data = pd.read_csv('original_konrad_healthinsurance.csv')
data_wo_city = data.drop('city', axis=1)
#check if data contains missing values or nan
print(data_wo_city.isnull().sum())

#drop rows with missing values
data_wo_city = data_wo_city.dropna()

print(data_wo_city.isnull().sum())



# Now apply get_dummies
data_wo_city = pd.get_dummies(data_wo_city)

data.replace(False, 0, inplace=True)
data.replace(True, 1, inplace=True)

#put claim column to the end
def move_column_to_end(data, col):
    data[col] = data.pop(col)

# Usage
move_column_to_end(data_wo_city, 'claim')

#transform pandas back into csv
data_wo_city.to_csv('without_city.csv', index=False)

data_wo_city.head()

age                    396
sex                      0
weight                   0
bmi                    956
hereditary_diseases      0
no_of_dependents         0
smoker                   0
bloodpressure            0
diabetes                 0
regular_ex               0
job_title                0
claim                    0
dtype: int64
age                    0
sex                    0
weight                 0
bmi                    0
hereditary_diseases    0
no_of_dependents       0
smoker                 0
bloodpressure          0
diabetes               0
regular_ex             0
job_title              0
claim                  0
dtype: int64

,age,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,sex_female,sex_male,...,job_title_Labourer,job_title_Lawyer,job_title_Manager,job_title_Photographer,job_title_Police,job_title_Politician,job_title_Singer,job_title_Student,job_title_Technician,claim
0,60.0,64,24.3,1,0,72,0,0,False,True,...,False,False,False,False,False,False,False,False,False,13112.6
1,49.0,75,22.6,1,0,78,1,1,True,False,...,False,False,False,False,False,False,False,False,False,9567.0
2,32.0,64,17.8,2,1,88,1,1,True,False,...,False,False,False,False,False,False,False,False,False,32734.2
3,61.0,53,36.4,1,1,72,1,0,True,False,...,False,False,False,False,False,False,False,False,False,48517.6
4,19.0,50,20.6,0,0,82,1,0,True,False,...,False,False,False,False,False,False,False,False,False,1731.7

In [16]:
data = pd.read_csv('original_konrad_healthinsurance.csv')
#drop job_title column
data_wo_job_title = data.drop('job_title', axis=1)
#check if data contains missing values or nan
print(data_wo_job_title.isnull().sum())

#drop rows with missing values
data_wo_job_title = data_wo_job_title.dropna()

print(data_wo_job_title.isnull().sum())


# Now apply get_dummies
data_wo_job_title = pd.get_dummies(data_wo_job_title)

data_wo_job_title.replace(False, 0, inplace=True)
data_wo_job_title.replace(True, 1, inplace=True)

#put claim column to the end
def move_column_to_end(data, col):
    data[col] = data.pop(col)

# Usage
move_column_to_end(data_wo_job_title, 'claim')

#transform pandas back into csv
data_wo_job_title.to_csv('without_job_title.csv', index=False)

data_wo_job_title.head()

age                    396
sex                      0
weight                   0
bmi                    956
hereditary_diseases      0
no_of_dependents         0
smoker                   0
city                     0
bloodpressure            0
diabetes                 0
regular_ex               0
claim                    0
dtype: int64
age                    0
sex                    0
weight                 0
bmi                    0
hereditary_diseases    0
no_of_dependents       0
smoker                 0
city                   0
bloodpressure          0
diabetes               0
regular_ex             0
claim                  0
dtype: int64

C:\Users\kobra\AppData\Local\Temp\ipykernel_6464\3691617174.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_wo_job_title.replace(True, 1, inplace=True)
C:\Users\kobra\AppData\Local\Temp\ipykernel_6464\3691617174.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data[col] = data.pop(col)

,age,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,sex_female,sex_male,...,city_Tampa,city_Trenton,city_Tucson,city_Warwick,city_WashingtonDC,city_Waterloo,city_Worcester,city_York,city_Youngstown,claim
0,60.0,64,24.3,1,0,72,0,0,0,1,...,0,0,0,0,0,0,0,0,0,13112.6
1,49.0,75,22.6,1,0,78,1,1,1,0,...,0,0,0,0,0,0,0,0,0,9567.0
2,32.0,64,17.8,2,1,88,1,1,1,0,...,0,0,0,0,0,0,0,0,0,32734.2
3,61.0,53,36.4,1,1,72,1,0,1,0,...,0,0,0,0,0,0,0,0,0,48517.6
4,19.0,50,20.6,0,0,82,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1731.7

In [17]:
#without hereditary_disease and city anf job_title
data_wo_disease_city_job_title = data.drop(['hereditary_diseases','city', 'job_title'], axis=1)
#check if data contains missing values or nan
print(data_wo_disease_city_job_title.isnull().sum())

#drop rows with missing values
data_wo_disease_city_job_title = data_wo_disease_city_job_title.dropna()

print(data_wo_disease_city_job_title.isnull().sum())


# Now apply get_dummies
data_wo_disease_city_job_title = pd.get_dummies(data_wo_disease_city_job_title)

data_wo_disease_city_job_title.replace(False, 0, inplace=True)
data_wo_disease_city_job_title.replace(True, 1, inplace=True)

#put claim column to the end    
def move_column_to_end(data, col):
    data[col] = data.pop(col)

# Usage
move_column_to_end(data_wo_disease_city_job_title, 'claim')

#transform pandas back into csv
data.to_csv('without_disease_city_job_title.csv', index=False)

data_wo_disease_city_job_title.head()

age                 396
sex                   0
weight                0
bmi                 956
no_of_dependents      0
smoker                0
bloodpressure         0
diabetes              0
regular_ex            0
claim                 0
dtype: int64
age                 0
sex                 0
weight              0
bmi                 0
no_of_dependents    0
smoker              0
bloodpressure       0
diabetes            0
regular_ex          0
claim               0
dtype: int64

C:\Users\kobra\AppData\Local\Temp\ipykernel_6464\1431421812.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_wo_disease_city_job_title.replace(True, 1, inplace=True)

,age,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,sex_female,sex_male,claim
0,60.0,64,24.3,1,0,72,0,0,0,1,13112.6
1,49.0,75,22.6,1,0,78,1,1,1,0,9567.0
2,32.0,64,17.8,2,1,88,1,1,1,0,32734.2
3,61.0,53,36.4,1,1,72,1,0,1,0,48517.6
4,19.0,50,20.6,0,0,82,1,0,1,0,1731.7